.pastryybg{
	position:absolute;
	width: 1500px;
	clip: rect(0px,2000px, 180px, 0px);
}
.menubg{
	position: absolute;
	height:1500px;
	width: 1500px;
}
.lacroissant2{
	position:absolute; 
	height: 400px;
	width:500px;
	top: -80px;
	left: 0px;
}
.navhome{
	position: absolute;
	left: 870px;
	top:85px;
	
}
.navpastry{
	position: absolute;
	left: 1030px;
	top: 85px;	
}
.navaboutus{
	position: relative;
	left: 1180px;
	top: 97px;
}
.logout{
	position: relative;
	left: 1350px;
	top: 55px;
}
.menutitle{
	position: absolute;
	left: 700px;
	top: 200px;
	text-decoration: overline;
	
}
.croissantss1{
	position: absolute;
	clip: rect(0px, 90px,1500px, 0px);
	height:300px;
	left: 590px;
	top: 250px;
}

.croissantss2{
	position: absolute;
	clip: rect(0px, 200px,1000px, 100px);
	height:300px;
	left: 600px;
	top: 250px;
}
.croissantss3{
	position: absolute;
	left:70px;
	clip: rect(0px,300px,1000px, 200px);
	height:300px;
	left:620px;
	top: 250px;
}
.croissantss4{
	position: absolute;
	left:70px;
	clip: rect(0px,400px,1000px, 300px);
	height:300px;
	left:640px;
	top: 250px;
}
.aboutcroissant{
	position: absolute;
	top: 540px;
	left: 670px;
}
.aboutdesc1{
	position: absolute;
	left: 340px;
	text-align: justify;
	text-indent: 1cm;
	top: 580px;
	margin-right:300px;
	font-size: 20px;
}
.aboutImg1{
	position: absolute;
	height: 300px;
	width: 300px;
	left: 180px;
	top: 700px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.aboutdesc2{
	position: relative;
	left: 500px;
	text-align: justify;
	text-indent: 1cm;
	top: 620px;
	margin-right:680px;
	font-size: 20px;	
}
.aboutdesc3{
	position: relative;
	left: 500px;
	text-align: justify;
	text-indent: 1cm;
	top: 610px;
	margin-right:680px;
	font-size: 20px;	
}
.aboutdesc4{
	position: relative;
	left: 500px;
	text-align: justify;
	text-indent: 1cm;
	top: 600px;
	margin-right:680px;
	font-size: 20px;	
}
.aboutImg2{
	position: absolute;
	height: 300px;
	width: 250px;
	left: 1120px;
	top: 1030px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.aboutdesc5{
	position: relative;
	left: 200px;
	text-align: justify;
	text-indent: 1cm;
	top: 650px;
	margin-right:620px;
	font-size: 20px;	
}
.aboutdesc6{
	position: relative;
	left: 200px;
	text-align: justify;
	text-indent: 1cm;
	top: 650px;
	margin-right:620px;
	font-size: 20px;	
}
.footerbg{
	position: absolute;
	top: 1400px;
	width:1500px;
	height:250px;
}
.footerdetails{
	position: absolute;
	width: 1500px;
	top: 440px;
}
.fblogo{
	position: absolute;
	height:40px;
	width: 40px;
	top:1150px;
	left: 1160px;
}
.instalogo{
	position: absolute;
	height:40px;
	width:50x;
	top:1150px;
	left: 1100px;
}
.copy{
	position: absolute;
	left: 200px;
	top: 1150px;
}
.contdet{
	position: absolute;
	left: 200px;
	top: 950px;
}
.MessIcon{
	position: absolute;
	left: 200px;
	top: 1000px;
	height:20px;
	width: 25px;
}
.email{
	position: absolute;
	left: 230px;
	top: 985px;	
}
.locIcon{
	position: absolute;
	left: 200px;
	top: 1030px;
	height:25px;
	width: 25px;
}
.location{
	position: absolute;
	left: 230px;
	top: 1020px;
}
.ForOrders{
 	position: absolute;
	left: 200px;
	top: 1050px;
}
.mobphoneIcon{
	position: absolute;
	left: 200px;
	top: 1100px;
	height:25px;
	width: 25px;
}
.mobphone{
	position: absolute;
	left: 230px;
	top: 1085px;	
}
.menu1{
	position: absolute;
	height: 300px;
	width: 300px;
	left: 100px;
	top: 300px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.menu2{
	position: absolute;
	height: 300px;
	width: 300px;
	left: 590px;
	top: 300px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.menu3{
	position: absolute;
	height: 300px;
	width: 300px;
	left: 1050px;
	top: 300px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.menu4{
	position: absolute;
	height: 300px;
	width: 300px;
	left: 100px;
	top: 800px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.menu5{
	position: absolute;
	height: 300px;
	width: 300px;
	left: 590px;
	top: 800px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.menu6{
	position: absolute;
	height: 300px;
	width: 300px;
	left: 1050px;
	top: 800px;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}
.cbutter{
	position:absolute;
	height:200px;
	width: 200px;
	left: 250px;
	top: 460px;
	clip-path: circle(95px);
}
.pistachio{
	position:absolute;
	height:200px;
	width: 200px;
	left: 760px;
	top: 460px;
	clip-path: circle(95px);
}
.nutella{
	position:absolute;
	height:200px;
	width: 200px;
    left: 1230px;
	top: 460px;
	clip-path: circle(95px);
}
.cookie{
	position:absolute;
	height:200px;
	width: 200px;
	width: 200px;
    left: 260px;
	top: 950px;
	clip-path: circle(95px);
}
.pain{
	position:absolute;
	height:200px;
	width: 200px;
	width: 200px;
    left: 760px;
	top: 950px;
	clip-path: circle(95px);
}
.brownie{
	position:absolute;
	height:200px;
	width: 200px;
    left: 1230px;
	top: 950px;
	clip-path: circle(95px);
}
.cbc{
	position: absolute;
	left: 110px;
	top: 630px;
	font-family: 'Open Sans ', sans-serif ;
	
}
.pc{
	position: absolute;
	left: 620px;
	top: 630px;
	font-family: 'Open Sans ', sans-serif ;
}
.nc{
	position: absolute;
	left: 1090px;
	top: 630px;
	font-family: 'Open Sans ', sans-serif ;
}
.cc{
	position: absolute;
	left: 120px;
	top: 1120px;
	font-family: 'Open Sans ', sans-serif ;
}
.bc{
	position: absolute;
	left: 620px;
	top: 1120px;
	font-family: 'Open Sans ', sans-serif ;
}
.brc{
	position: absolute;
	left: 1090px;
	top: 1120px;
	font-family: 'Open Sans ', sans-serif ;
}
.price1{
	position: absolute;
	left: 110px;
	top: 650px;
}
.price2{
	position: absolute;
	left: 620px;
	top: 650px;
}
.price3{
	position: absolute;
	left: 1090px;
	top: 650px;
}
.price4{
	position: absolute;
	left: 120px;
	top: 1140px;
}
.price5{
	position: absolute;
	left: 620px;
	top: 1140px;
}
.price6{
	position: absolute;
	left: 1090px;
	top: 1140px;
}
.cart1{
	position: absolute;
	left: 105px;
	top: 690px;
	height:30px;
	width: 30px;
}
.cart2{
	position: absolute;
	left: 620px;
	top: 690px;
	height:30px;
	width: 30px;
}
.cart3{
	position: absolute;
	left: 1090px;
	top: 690px;
	height:30px;
	width: 30px;
}
.cart4{
	position: absolute;
	left: 120px;
	top: 1180px;
	height:30px;
	width: 30px;
}
.cart5{
	position: absolute;
	left: 620px;
	top: 1180px;
	height:30px;
	width: 30px;
}
.cart6{
	position: absolute;
	left: 1090px;
	top: 1180px;
	height:30px;
	width: 30px;
}
.addtocart1{
	position: absolute;
	left: 140px;
	top: 675px;
}
.addtocart2{
	position: absolute;
	left: 655px;
	top: 675px;
}
.addtocart3{
	position: absolute;
	left: 1125px;
	top: 675px;
}
.addtocart4{
	position: absolute;
	left: 155px;
	top: 1165px;
}
.addtocart5{
	position: absolute;
	left: 655px;
	top: 1165px;
}
.addtocart6{
	position: absolute;
	left: 1125px;
	top: 1165px;
}
.cursor{
    cursor: pointer;
}